.InputfieldRockMatrix {
  .InputfieldRockPageEdit {
    margin-top: 10px;
    > .InputfieldHeader {
      padding: 2px 5px;
    }
    > .InputfieldContent {
      padding: 4px;
      padding-top: 0;

      > ul.Inputfields {
        > li.Inputfield {
          &.InputfieldRepeaterItem {
            // quick fix for showing inputfield outline
            // color should not be hardcoded but will likely never change
            outline: 1px solid #eeeeee;
          }
        }
      }
    }
  }
}
