.InputfieldRockMatrix div.rm-items > ul > li.rm-item {
  transition: outline 0.5s ease-in-out;
  margin-top: 10px;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item > .InputfieldHeader {
  padding: 2px 5px;
  cursor: move;
  transition: background-color 0.5s linear;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item > .InputfieldHeader .rm-actions {
  float: right;
  margin-right: 5px;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item > .InputfieldHeader .rm-actions > .rm-action > i {
  padding: 5px 10px;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item > .InputfieldContent {
  padding: 4px;
  padding-top: 0;
  transition: background-color 0.5s linear;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item > .InputfieldContent > .notes {
  margin-top: 0;
  border-left: 0;
  padding-left: 0;
  padding-top: 3px;
  transition: background-color 0.5s linear;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item > .InputfieldContent > ul.Inputfields > li.Inputfield.InputfieldRepeaterItem {
  outline: 1px solid #eeeeee;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item.rm-trash {
  outline: 1px solid #ff7e7e;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item.rm-trash > .InputfieldContent,
.InputfieldRockMatrix div.rm-items > ul > li.rm-item.rm-trash > .InputfieldHeader {
  background: #ffe4e4;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item.rm-trash > .InputfieldContent > p.notes,
.InputfieldRockMatrix div.rm-items > ul > li.rm-item.rm-trash > .InputfieldHeader > p.notes {
  background-color: #ffe4e4;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item.rm-trash > .InputfieldHeader .rm-action-trash {
  display: none;
}
.InputfieldRockMatrix div.rm-items > ul > li.rm-item:not(.rm-trash) > .InputfieldHeader .rm-action-untrash {
  display: none;
}
.rm-draggable.uk-sortable-drag {
  outline: 1px dashed #bbbbbb !important;
  background: rgba(255, 255, 255, 0.5);
}
.rm-draggable.uk-sortable-drag > * {
  display: none;
}
