// quick fix for showing inputfield outline
// color should not be hardcoded but will likely never change
@border-color: #eeeeee;
@color-trash: #ffe4e4;


// matrix item
// this is styled outside of .InputfieldRockMatrix context because dragging
// items don't live inside the inputfield context!
li.rmx-item {
  transition: outline 0.3s ease-in-out;
  margin-top: 10px;
  &.InputfieldStateCollapsed > .InputfieldHeader:after {
    content: none !important;
  }

  > .InputfieldHeader {
    padding: 2px 5px;
    cursor: move;
    transition: background-color 0.5s linear;

    // item action buttons
    .rmx-actions {
      float: right;
      margin-right: 5px;
      > .rmx-action > i {
        padding: 5px 10px;
      }
      a { text-decoration: none; }
    }
  }
  > .InputfieldContent {
    padding: 4px;
    padding-top: 0;
    transition: background-color 0.5s linear;

    > .notes {
      margin-top: 0;
      border-left: 0;
      padding-left: 0;
      padding-top: 3px;
      transition: background-color 0.5s linear;
    }

    > ul.Inputfields {
      > li.Inputfield {
        &.InputfieldRepeaterItem {
          outline: 1px solid @border-color;
        }
      }
    }
  }


  // trashed item
  &.rmx-trash {
    outline: 1px solid darken(@color-trash, 20%);
    > .InputfieldContent, > .InputfieldHeader {
      background: @color-trash;
      > p.notes { background-color: @color-trash; }
    }

    // dont show trash icon
    > .InputfieldHeader .rmx-action-trash { display: none; }
  }
  &:not(.rmx-trash) {
    // dont show restore icon
    > .InputfieldHeader .rmx-action-untrash { display: none; }
  }

  // radio buttons (eg in settings field)
  input[type=radio] { margin-right: 5px; }

  // settingsfield
  .rmx-settings {
    table td { padding: 2px 10px; }
  }
}

// add spacing after last matrix item
.rmx-items > ul:last-child {
  margin-bottom: 15px;
}

// content-only inputfields without header
.rmx-pd5 > .InputfieldContent { padding: 5px; }

// buttons
.rmx-buttons-container {
  .rmx-buttons {
    button.rmx-button {
      margin: 0 5px 5px 0;
    }
  }
}

// create new block
.rmx-create {
  margin: 10px 0;
  input { width: 200px; }
}

