// quick fix for showing inputfield outline
// color should not be hardcoded but will likely never change
@border-color: #eeeeee;
@color-trash: #ffe4e4;

// fix uikit tooltip issue
.uk-tooltip-inner {
  overflow-wrap: break-word;
}

// hide tabs for rockmatrix block editor modal
body.modal form.rmx-form {
  margin: 0;
  .WireTabs { display: none; }
}

// add block button svg
.rmx-button {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: outline opacity 0.5s ease;
  text-align: center;
  display: inline-block;
  &.loading {
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
  }
  @keyframes pulsate {
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
  }
  &:hover {
    // tooltip background color
    outline: 3px solid #666;
  }
  img {
    height: 75px;
    @media(min-width: 960px) { height: 150px; }
  }
  .fa {
    position: absolute;
    left: 0;
    right: 0;
    color: #666;
    margin: auto;
    font-size: 20px;
    pointer-events: none;

    top: 27px;
    @media(min-width: 960px) {
      font-size: 45px;
      top: 50px;
    }
  }
}
li.InputfieldRockMatrix .rmx-button {
  img {
    height: 75px;
  }
  .fa {
    top: 27px;
    font-size: 23px;
  }
}

// matrix item
// this is styled outside of .InputfieldRockMatrix context because dragging
// items don't live inside the inputfield context!
li.rmx-item {
  transition: outline 0.3s ease-in-out;
  margin-top: 10px;
  &.InputfieldStateCollapsed > .InputfieldHeader:after {
    content: none !important;
  }

  > .InputfieldHeader {
    padding: 2px 5px;
    cursor: move;
    transition: background-color 0.5s linear;

    // item action buttons
    .rmx-actions {
      float: right;
      margin-right: 5px;
      > .rmx-action > i {
        padding-right: 10px;
      }
      a { text-decoration: none; }
    }
  }
  > .InputfieldContent {
    padding: 4px;
    padding-top: 0;
    transition: background-color 0.5s linear;

    > .notes {
      margin-top: 0;
      border-left: 0;
      padding-left: 0;
      padding-top: 3px;
      transition: background-color 0.5s linear;
    }

    > ul.Inputfields {
      > li.Inputfield {
        &.InputfieldRepeaterItem {
          outline: 1px solid @border-color;
        }
      }
    }
  }


  // trashed item
  &.rmx-trash {
    outline: 1px solid darken(@color-trash, 20%);
    > .InputfieldContent, > .InputfieldHeader {
      background: @color-trash;
      > p.notes { background-color: @color-trash; }
    }

    // dont show trash icon
    > .InputfieldHeader .rmx-action-trash { display: none; }
  }
  &:not(.rmx-trash) {
    // dont show restore icon
    > .InputfieldHeader .rmx-action-untrash { display: none; }
  }

}

// settingsfield
.rmx-settings {
  ul { padding-left: 0; }
  // radio buttons (eg in settings field)
  input[type=radio] { margin-right: 5px; }
  table td { padding: 4px 10px; }
}

// add spacing after last matrix item
.rmx-items > ul:last-child {
  margin-bottom: 15px;
}

// content-only inputfields without header
.rmx-nolabel > .InputfieldContent {
  padding-top: 20px;
}
// inputfield with smaller padding
.rmx-pd5 > .InputfieldContent {
  padding: 5px;
  // fix image fields having only 1px top padding
  padding-top: 5px !important;
}

// buttons
.rmx-buttons-container {
  .rmx-buttons {
    button.rmx-button {
      margin: 0 5px 5px 0;
    }
    &.modal {
      // add some space for tooltips
      margin-top: 20px;
    }
  }
}

// create new block
.rmx-create {
  margin: 10px 0;
  input { width: 200px; }
}

// widget alert
.rmx-alert-widget {
  outline: 4px groove orange;
  z-index: 1;
}
