.rpb-accordion {
  // items
  .items {
    width: 100%;
    max-width: 600px;
    li {
      background-color: @global-muted-background;
      .uk-padding;
    }
  }

  // muted style
  .uk-background-primary,
  .uk-background-secondary {
    h2,
    h3 {
      color: white !important;
    }
  }

  // make items white
  .uk-background-primary,
  .uk-background-secondary,
  .uk-background-muted {
    li {
      background-color: white;
    }
  }

  // limit width
  .maxw-s {
    max-width: 300px;
  }
  .maxw-m {
    max-width: 500px;
  }
  .maxw-l {
    max-width: 700px;
  }
}
