.rpb-calltoaction {
  // right column adjustments
  .right {
    justify-content: center;
    @media (min-width: @breakpoint-medium) {
      justify-content: right;
      padding-right: 50px;
    }
  }

  // color adjustments for eyebrow on dark backgrounds
  .uk-background-primary {
    h3 {
      color: @global-secondary-background !important;
    }
    .text {
      color: white;
    }
  }
  .uk-background-secondary {
    h3 {
      color: @global-primary-background !important;
    }
  }

  // limit width
  .maxw-s {
    max-width: 400px;
  }
  .maxw-m {
    max-width: 600px;
  }
  .maxw-l {
    max-width: 800px;
  }
}
