.rmblock-image-nofloat {
  float: none;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.rmblock-image {
  position: relative;
  margin-bottom: @margin-small-margin;
  .container {
    text-align: left;
    display: inline-block;
  }

  // alignment
  &.align-left { text-align: left; }
  &.align-center { text-align: center; }
  &.align-right { text-align: right; }

  // float
  &.float-left {
    float: left;
    margin-right: @margin-small-margin;
  }
  &.float-right {
    float: right;
    margin-left: @margin-small-margin;
  }
  &.size-small {
    // responsive tweaks for small images
    @media(max-width: @breakpoint-small) {
      &.float-left,&.float-right { .rmblock-image-nofloat }
    }
  }
  &.size-medium {
    // responsive tweaks for medium images
    @media(max-width: @breakpoint-medium) {
      &.float-left,&.float-right { .rmblock-image-nofloat }
    }
  }
  &.size-large {
    // responsive tweaks for large images
    @media(max-width: @breakpoint-large) {
      &.float-left,&.float-right { .rmblock-image-nofloat }
    }
  }

}
