{var $foo = __FILE__}
<section
  class="{cls}"
  {alfred}
  {$block->styles()}
>
  <div class="rf-box">
    Markup for this block comes from this file: <strong>{$block->viewFile()}</strong>
  </div>
</section>
