.rf-overlay {
  position: relative;
}
.rf-overlay img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
  pointer-events: none;
  width: 100%;
  max-width: none;
  opacity: 0.5;
}
.rf-overlay .rf-gui {
  position: absolute;
  top: 0;
  left: 0;
  outline: 2px solid #ececec;
  background: white;
  z-index: 99;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  color: #898989;
}
.rf-overlay .rf-gui svg {
  margin: 0 10px;
  cursor: pointer;
}
