.rpb-overlay {
  position: relative;

  .rpb-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    pointer-events: none;
    width: 100%;
    max-width: 100%;
    opacity: 0;
    outline: 1px dashed gray;
  }
  .rpb-gui {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 99;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    color: #898989;

    > * {
      margin-right: 10px;
      flex-shrink: 0;
    }
    > *:last-child {
      margin-right: 0;
    }

    > input {
      width: 100px;
    }

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    width: 20px;
    height: 20px;
    transition: all 0.5s ease;
    overflow-x: hidden;
    overflow-y: visible;
    outline: 2px solid #ececec;
    &:hover {
      width: 334px;
    }
  }
}
