/**
 * RockPageBuilder Frontend Styles
 */

// remove first top and last bottom margin
// so that we dont get too much padding in sections
.rpb-nomargin,
.rpb-nomargin .pw-edit-orig,
.rpb-nomargin .pw-edit-copy {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

.rpb-type {
  display: inline-block;
  margin-right: 5px;
  span {
    display: inline-block;
    background-color: #ececec;
    color: black;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 0.8rem;
  }
}
