/**
 * RockPageBuilder Frontend Styles
 * These styles are loaded on the frontend everytime (both for guests and for
 * logged in users).
 */
.rpb-nomargin > *:first-child,
.rpb-nomargin .pw-edit-orig > *:first-child,
.rpb-nomargin .pw-edit-copy > *:first-child {
  margin-top: 0;
}
.rpb-nomargin > *:last-child,
.rpb-nomargin .pw-edit-orig > *:last-child,
.rpb-nomargin .pw-edit-copy > *:last-child {
  margin-bottom: 0;
}
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}
.balance {
  text-wrap: balance;
}
