/**
 * RockPageBuilder Frontend Styles
 */
.rpb-nomargin > *:first-child,
.rpb-nomargin .pw-edit-orig > *:first-child,
.rpb-nomargin .pw-edit-copy > *:first-child {
  margin-top: 0;
}
.rpb-nomargin > *:last-child,
.rpb-nomargin .pw-edit-orig > *:last-child,
.rpb-nomargin .pw-edit-copy > *:last-child {
  margin-bottom: 0;
}
.rpb-type {
  display: inline-block;
  margin-right: 5px;
}
.rpb-type span {
  display: inline-block;
  background-color: #ececec;
  color: black;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 0.8rem;
}
