// RockPageBuilder Frontend Styles
// loaded both for guests and logged in users

// remove first top and last bottom margin
// so that we dont get too much padding in sections
.rpb-nomargin,
.rpb-nomargin .pw-edit-orig,
.rpb-nomargin .pw-edit-copy {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

// wysiwyg classes
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}

// balanced headlines
.balance {
  text-wrap: balance;
}

// block classes for multicolor sections
html {
  --block-space: rfGrow(50px, 100px);
}
.block {
  padding-top: ~"calc(var(--block-space)/2)";
  padding-bottom: ~"calc(var(--block-space)/2)";
  &.block-top {
    padding-top: var(--block-space);
  }
  &.block-bottom {
    padding-bottom: var(--block-space);
  }
}

// sortable handle for rockpagebuilder
.alfred:hover > .alfredelements .sortable-handle {
  display: block;
}
.sortable-handle {
  display: none;
  cursor: move;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  color: black !important;
  border-radius: 0 0 5px 0;
  border-bottom: 4px solid #ececec;
  border-right: 4px solid #ececec;
  svg {
    width: 20px;
    margin: 5px;
  }
}

// fix tinymce z-index issue on frontend editing
.tox-tinymce-inline {
  z-index: 90;
}
