.rpb-quotes {
  .maxw {
    width: 100%;
    max-width: 700px;
  }
  .grid {
    gap: 20px;
  }
  img.uk-border-circle {
    border: 5px solid white;
  }
  .arrow-nav {
    @media (max-width: 850px) {
      display: none;
    }
  }
}
